body {
    background-color: #000000; /* Fundo preto */
    color: #fff; /* Texto branco */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#logo-container {
    text-align: center;
    margin-bottom: 70px; /* Ajuste a margem conforme necessário */
}

#logo {
    width: 200px; /* Ajuste a largura conforme necessário */
    height: auto; /* Isso mantém a proporção da imagem */
    border-radius: 50%;
}

#login-container {
    text-align: center;
}

#email, #password {
    width: 300px;
    min-width: 300px; /* Adicione essa linha */
    margin-bottom: 20px; /* Reduzi o espaçamento entre os campos */
    padding: 8px;
    background-color: transparent; /* Caixas de texto transparentes */
    border: none; /* Remove a borda */
    border-bottom: 1px solid #fff; /* Adiciona uma borda branca na parte inferior */
    color: #fff; /* Texto branco */
    display: block; /* Certifica-se de que cada campo de texto ocupa toda a largura disponível */
}

#email {
    margin-bottom: 10px; /* Espaçamento entre as caixas de texto */
}

#forgot-password {
    text-decoration: underline;
    margin-bottom: 20px; /* Espaçamento abaixo do texto 'Esqueci minha senha' */
}

#login-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

#loading-spinner {
    display: none; /* Oculta o spinner por padrão */
}

#error-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adiciona uma margem na parte inferior para compensar a altura da mensagem de erro */
}

#error-message {
    color: red;
    display: none; /* Oculta a mensagem de erro por padrão */
}

.error-visible #error-message {
    display: block; /* Exibe a mensagem de erro quando a classe .error-visible é adicionada */
}


.password-container {
    position: relative; /* Posicionamento relativo para o contêiner do campo de senha */
}

#password {
    position: relative;
}

#show-password-btn {
    position: absolute; /* Posicionamento absoluto sobre o campo de senha */
    top: 50%; /* Alinha no centro verticalmente */
    right: 10px; /* Alinha à direita */
    transform: translateY(-50%); /* Ajusta verticalmente */
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
}
